/.phpunit.cache
/node_modules
/vendor

/public/build
/public/hot
/public/storage

# Runtime storage
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/storage/storage/

.env
.env.backup
.env.production
.phpunit.result.cache

docker-compose.override.yml

Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
package-lock.log
/.fleet
/.idea
/.vscode

# Local backups and dumps
/seguranca depois apaga/
/segurança depois apaga/
/seguranca depois apaga.2846/
/segurança depois apaga.2846/
/*.sql

/public/css
/public/js
/public/mix-manifest.json
# But not these files...
!/public/assets/*
/public/assets/js
/public/assets/css
/public/assets/vendor
